/* main tag styles start */

main{
    width:90%;
    height:90%;
    margin:0 auto;
}
/* main tag styles end */


/* banner styles start here */


.banner-container{
    width:1340px;
    height:855px;
    background-image: url('../assets/banner-photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top:80px;
    width:100%;
 height:100%;

 
}

.banner-all-content{
    width:998px;
    height: 582px;
    width:50%;
    margin:0 auto;
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.banner-image{
   width:50%;
   height:50%;
}

.banner-image img{
    width:240.28px;
    height:240px;
}

.banner-text-content h1{
    color:black;
    font-size:25px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;

}

.banner-text-content p{
    font-size:10px;
    font-weight:300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.banner-text-content #last-word{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

.banner-text-content #btn-banner{
    color:#ffffff;
    width:168px;
    height:56px;
   display:flex;
   font-weight: 600;
   justify-content: center;
   align-items: center;
   margin-left:200px;
   margin-top:50px;
   background-color: black;
   cursor: pointer;
   border-radius: 8px;
}

/* banner styles end here */



/* web developer section styles start here */

.web-dev-container{
    width:1040;
    height: 1168px;
    background-color:rgba(13, 19, 33, 0.02);
    margin:0 auto;
    margin-top:100px;
    width:90%;
    /* height:90%; */
    border-radius: 20px;
    /* margin-right:140px;
    margin-left: 220px; */
}

.web-dev-full-content{
    width:946px;
    height:1108px;
    width:90%;
    height:90%;
    margin:0 auto;
    margin-top:110px;
}

.web-dev-text-content {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.web-dev-text-content h2{
    font-size:32px;
    font-weight:800;
    font-family:'Times New Roman', Times, serif;
}

.web-dev-text-content p{
    color:rgb(13, 19, 33);
    font-size:16px;
    font-weight:400;
    font-family:'Times New Roman', Times, serif;
}

#web{
    display: flex;
    justify-content:center;
    align-items:center;
}

.web-dev-first-content{
    width:850px;
    height:240px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:0 auto;
    background-color: rgb(255, 255, 250);
    padding:20px;
    border-radius:15px;
    gap:50px;
    margin-top:60px;
   
}

.first-content-description h2{
    font-size:22px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.first-content-description p{
    color:rgb(13, 19, 33);
    font-size:16px;
    font-weight:400;
}

.web-dev-btn{
    border:1px solid black;
    padding:12px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.web-dev-second-content{
    width:850px;
    height:240px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:0 auto;
    background-color: rgb(255, 255, 250);
    padding:10px;
    border-radius:15px;
    gap:50px;
    margin-top:50px;
}

.second-content-description h2{
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.web-dev-third-content{
    width:850px;
    height:240px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:0 auto;
    background-color: rgb(255, 255, 250);
    padding:20px;
    border-radius:15px;
    margin-top:50px;
    gap:50px;
}

.third-content-description h2{
    font-size: 22px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

.third-content-description p{
    color:rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}
/* web developer section styles end here */

/* inspiration styles start */


.inspiration-container{
    width:1050px;
    height:725px;
    width:90%;
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top:50px;
}

.inspiration-all-content{
    width:1050px;
    height:750px;
    width:50%;
    /* padding:30px; */
   margin:0 auto;
    margin-top:50px;
    display: flex;
    flex-direction: column;
       justify-content: center;
   align-items: center;
}

.inspiration-description{
    width:750px;
    height:35px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width:70%;
    margin-top:50px;
}

.inspiration-description h2{
    font-size:30px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inspiration-description p{
    color:rgb(13, 19, 33);
    font-size:15px;
    font-weight: 400;
}

.inspiration-yt-video {
    width: 1050px;
    height:554px;
    margin-top:90px;
    border:1px solid rgba(13, 19, 33, 0.2);
    box-sizing: border-box;
    border-radius: 16px;
}

.inspiration-yt-video iframe{
    width:1076px;
    height:550;
    margin:0 auto;
    width:90%;
    height:90%;
    border-radius:10px;
    margin-top:30px;
    margin-left:50px;
}
/* inspiration styles end */


/* current target styles start */


.current-target-container{
    width:1140px;
    height:463px;
    width:90%;
    height:90%;
    margin-top:130px;
    width:90%;
    height:90%;
    margin:0 auto;
}

.current-target-full-content{
   width:100%;
   height:100%;
    /* margin:0 auto; */
}

.current-target-description{
    width:852px;
    height:115px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:50px 80px;
}

.current-target-description h2{
    color:black;
    font-size:32px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current-target-description p{
    color:rgb(15, 22, 30);
    font-size:15px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.html-css-javascript{
    margin-top:80px;
    display:flex;
    justify-content:space-between;
    /* margin-bottom:40px; */
    padding:40px;
    gap:50px;
}

.html{
    background-color:rgba(255, 76, 30,0.05);
    border-radius:15px;
    padding:10px;
}

.css{
    background-color:rgba(0, 76, 232, 0.05);
    border-radius:15px;
    padding:10px;
}

.javascript{
    background-color:rgba(255, 223, 0, 0.05);
    border-radius:15px;
    padding:10px;
}

.html-css-javascript a{
 color:black;
 font-weight:bold;
}

/* current target styles end */



/* support styles start */

.support-section-container{
    width:1100px;
    height:260px;
    margin-top:60px;
    width:85%;
    margin:0 auto;
    background-color:rgba(0, 0, 0, 0.6);
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:15px;
    background-blend-mode: overlay;

}

.support-section-content{
    width:1044px;
    height:186px;
    margin-top:80px;
    width:50%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.support-section-content h2{
   color:#ffffff;
   font-size:32px;
   font-weight: 700;
}

.support-section-content p{
    color:#f1f1f1;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 500;
}

.support-section-input{
    display: flex;
    justify-content: space-between;
    gap:5px;
}

.support-section-input #input1{
   width:450px;
   height:47px;
   box-sizing: border-box;
   border-radius:15px;
   padding:20px;
}

.support-section-input #input2{
    width:120px;
    height:47px;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
}

.support-btn{
    color:black;
    font-size: 17px;
    font-weight: bold;
}
/* support styles end */

/*  */